body{
    margin: 0px;
    height: 15000;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}
.static{
    top: 200px;
    right: 300px;
}

.fixed{
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.relative{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    margin: 10px;
    position: relative;
}

abs{
    bottom: 0px;
    right: 0px;
    position: absolute;
}
